[package]
name = "saphir"
version = "2.2.2"
edition = "2018"
authors = ["Richer Archambault <richer.arc@gmail.com>"]
description = "Fully async-await http server framework"
documentation = "https://docs.rs/saphir"
homepage = "https://github.com/richerarc/saphir"
repository = "https://github.com/richerarc/saphir"
readme = "../README.md"
keywords = ["hyper", "http", "server", "web", "async"]
license = "MIT"

[features]
default = ["macro"]
full = ["macro", "json", "form", "https", "multipart", "operation"]
https = ["base64", "rustls", "tokio-rustls"]
json = ["serde", "serde_json"]
form = ["serde", "serde_urlencoded"]
macro = ["saphir_macro"]
multipart = ["mime", "nom"]
operation = ["hex", "rand", "serde"]

[dependencies]
log = "0.4"
hyper = { version = "0.13", features = ["stream"] }
tokio = { version = "0.2", features = ["full"] }
futures = "0.3"
futures-util = "0.3"
tower-service = "0.3"
cookie = { package = "saphir-cookie", version = "0.13" }
http = "0.2"
http-body = "0.3"
parking_lot = "0.10"
regex = "1.3"
rustls = { version = "0.17", optional = true }
tokio-rustls = { version = "0.13", optional = true }
base64 = { version = "0.12", optional = true }
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }
serde_urlencoded = { version = "0.6", optional = true }
saphir_macro = { path = "../saphir_macro", version = "2.0.1", optional = true}
mime = { version = "0.3", optional = true }
nom = { version = "5", optional = true }
hex = { version = "0.4", optional = true }
rand = { version = "0.7.3", optional = true }

[dev-dependencies]
tokio-timer = "0.2.13"
env_logger = "0.7"
serde = "1.0"
serde_derive = "1.0"
mime = "0.3"