[package]
name = "saphir"
version = "2.8.2"
edition = "2018"
authors = ["Richer Archambault <richer.arc@gmail.com>"]
description = "Fully async-await http server framework"
documentation = "https://docs.rs/saphir"
homepage = "https://github.com/richerarc/saphir"
repository = "https://github.com/richerarc/saphir"
readme = "../README.md"
keywords = ["hyper", "http", "server", "web", "async"]
license = "MIT"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[features]
default = ["macro"]
full = ["macro", "json", "form", "https", "multipart", "operation", "post-redirect", "file"]
post-redirect = ["redirect", "json"]
redirect = ["mime", "form"]
https = ["base64", "rustls", "tokio-rustls"]
json = ["serde", "serde_json"]
form = ["serde", "serde_urlencoded"]
macro = ["saphir_macro"]
multipart = ["mime", "nom"]
file = ["mime", "mime_guess", "percent-encoding", "chrono", "flate2", "brotli", "nom"]
operation = ["serde", "uuid"]

[dependencies]
log = "0.4"
hyper = { version = "0.13.6", features = ["stream"] }
tokio = { version = "1.0.3", features = ["full"] }
futures = "0.3"
futures-util = "0.3"
tower-service = "0.3"
saphir-cookie = "0.13.2"
http = "0.2"
http-body = "0.3"
parking_lot = "0.11"
regex = "1.3"
uuid = { version = "0.8", features = ["serde", "v4"], optional = true }
rustls = { version = "0.18", optional = true }
tokio-rustls = { version = "0.14", optional = true }
base64 = { version = "0.13", optional = true }
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }
serde_urlencoded = { version = "0.7", optional = true }
saphir_macro = { path = "../saphir_macro", version = "2.1.1", optional = true }
mime = { version = "0.3", optional = true }
nom = { version = "6", optional = true }
mime_guess = { version = "2.0.3", optional = true }
percent-encoding = { version = "2.1.0", optional = true }
chrono = { version = "0.4.11", optional = true }
flate2 = { version = "1.0.13", optional = true }
brotli = { version = "3.3.0", optional = true }

[dev-dependencies]
tokio-timer = "0.2.13"
env_logger = "0.8"
serde = "1.0"
serde_derive = "1.0"
mime = "0.3"