[package]
name = "saphir"
version = "2.0.0-beta"
edition = "2018"
authors = ["Richer Archambault <richer.arc@gmail.com>"]
description = "Fully async-await http server framework"
documentation = "https://docs.rs/saphir"
homepage = "https://github.com/richerarc/saphir"
repository = "https://github.com/richerarc/saphir"
readme = "README.md"
keywords = ["hyper", "http", "server", "web", "async"]
license = "MIT"

[features]

default = []
https = ["base64", "rustls", "tokio-rustls"]
json = ["serde", "serde_json"]
form = ["serde", "serde_urlencoded"]

[dependencies]
log = "0.4"
hyper = "0.13"
tokio = { version = "0.2", features = ["full"] }
futures = "0.3"
futures-util = "0.3"
tower-service = "0.3"
cookie = { package = "saphir-cookie", version = "0.13" }
http = "0.2"
http-body = "0.3"
parking_lot = "0.10"
regex = "1.3"
rustls = { version = "0.16", optional = true }
tokio-rustls = { version = "0.12", optional = true }
base64 = { version = "0.11", optional = true }
serde = { version = "1.0", optional = true }
serde_json = { version = "1.0", optional = true }
serde_urlencoded = { version = "0.6", optional = true }

[dev-dependencies]
tokio-timer = "0.2.13"
env_logger = "0.7"
serde = "1.0"
serde_derive = "1.0"
saphir_macro = { path = "../saphir_macro", version = "1.0.0-beta"}